<form id="registerform" name="register" method="post" action="register.html">
  <div class="form-group">
    <label for="username">Nutzername:</label>
    <input type="text" id="username" name="username" required class="form-control" >
  </div>
  <div class="form-group">
    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" required class="form-control" >
  </div>
  <button type="submit" id="submit" name="submit" class="btn btn-primary btn-block">Anmelden</button>
</form>